<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Pragma" content="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"> 
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta charset="UTF-8">
    <title>"人脸检测结果"</title>

</head>
    <body>
        <div>
            <form method="POST" action="http://10.200.51.68:5559/detect" enctype="multipart/form-data">
            <img src="../static/3.jpg" />

            <p>"检测到了人脸"</p>

            <br>
            <input type="Submit" value="back" class="button-new" style="margin-top:50px;"/>
            </form>
        </div>
    </body>
</html>
